
<div class="form-group">
    <div class="ng-cint__ng-cint-content">
    <mat-form-field class="example-full-width">

        <mat-label>Time</mat-label>

        <input matInput type="text" class="form-control" id="time" placeholder="Time" required [value]="time"
            [inputTimeFilter]="45" #timeInput readonly >

    </mat-form-field>
    <p class="ng-cint-field__ng-cint-controls ng-cint-content__ng-cint-field">
        <span class="time-input-controls__single-control time-input-controls__single-control_increment"
              (click)="setIncreasedTime(time)">
        </span>
        <span class="time-input-controls__single-control time-input-controls__single-control_decrement"
              (click)="setDecreasedTime(time)">
        </span>
      </p>
    </div>
</div>

