h1 {
    display: flex;
     justify-content:center;
      align-items:center;
}

white {
    background-color: white;
}

skyBlue {
    background-color: skyblue;
}

night {
    background-color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .contain {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }