/* h1 {
    display: flex;
     justify-content:center;
      align-items:center;
} */

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction:column;
  }
  .row{
    width:100%;
    margin:0 auto;
    text-align:center;
  }
  .flex-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 10px;
    line-height: 150px;
    color: black;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }