

  <div class="split left">
    <div class="centered">
      <mat-list>
        <mat-list-item *ngFor="let user of users">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          <div mat-line>{{user.name}}</div>
          <div mat-line> {{user.email}} </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <app-add-user-form></app-add-user-form>
    </div>
  </div>