<div>
    <div>
      <h1>Add User</h1>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput type="text" class="form-control" id="name"
                placeholder="Name"
                       required
                       [(ngModel)]="model.name" name="name"
                       #name="ngModel">
              </mat-form-field>
    
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" class="form-control" id="email"
                placeholder="Ex. pat@example.com"
                       required
                       [(ngModel)]="model.email" name="email"
                       #email="ngModel">
              </mat-form-field>
            <div [hidden]="email.valid || email.pristine"
                 class="alert alert-danger">
              Email is required
            </div>
          </div>
        <div class="form-group">
            <button mat-button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>
        </div>
        
        <button mat-button type="button" class="btn btn-default" (click)="newUser(); userForm.reset()">Reset</button>
      </form>
    </div>
  </div>
